// Common Style
$color-primary: rgba(41, 56, 70, 1);
$color-secondary: #F2C94C;
$color-white: white;
// Common Style

$border-color: rgba(123, 141, 158, .1);
$btn-border-color: #B7C6D4;
$border-radius: 10px;
$aside-bg-color:#F2F6F9;
$active-bg-color: rgba(89, 95, 237, 0.22);
$active-color: #595FED;
$card-shadow: #B8CAE1;
$card-border-color:#DEE3E8;
$text-light-color:#5F758A;
$text-light-grey: #7B8D9E;
$text-blue-grey: #35445A; 

// Left-Aside
$color-copy-right: rgba(41, 56, 70, 0.7);
$bg-search-clr:#F1F6FA;

// Left-Aside

// Center
$add-document: rgba(255, 255, 255, 0.53);

// Center

// Dropdown Card
$body-bg-color: #E5E5E5;
$frame-bg-color: #F7FBFF;
$card-bg-color: #595FED;
$theme-dark: #253545;
$light-text: #5F758A;
$box-shadow:  0px 12px 10px 0px #B8CAE1;
$dropdown-border: 1px solid rgba(123, 141, 158, 0.3);
$dropdown-arrow-border: #DBE3EA;


$border-radius: 10px;
// Dropdown Card

// Table
$table-box-shadow: 0px 18px 50px rgba(184, 202, 225, 0.64);
$table-bg-color: #C2CDDC;
$table-border:  rgba(219, 227, 234, 1);
$color-blue: #595FED;
$btn-table-border:#BCC8D2;        
$table-row-border: #DBE3EA;
$table-image-border: #B7C6D5;
// Table